html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
}
#videoContainer video{
    width: 100%;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }



    .plybtn{
      background: none;
      color: #fff;
      font-weight: 600;
      font-size: 70px;
      padding: 6px 0;
      text-transform: uppercase;
      margin: auto;
      cursor: pointer;
      transition: 0.5s all;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      max-width: 50px;
      border-radius: 10px;
      border: none;
      opacity: 0.6;
      height: 90px;
    }

    .plybtn:hover{
      opacity: 1;
    }

    #output{
      font-size: 0;
      height: 0;
      display: block;
      width: 0;
    }

    #videoContainer{
      position: relative;
      height: calc(100vh - 23px);
      width: calc(100vw);
      
    }